nav {
   background-color: #fff; 
   color: #000
}

#editar {
  display: none
}

#botaoDownload {
  display: none
}

a.brand-logo.center {color: rgba(0,0,0,0.5); }
.section {padding-top: 2rem; padding-bottom: 5rem; }

nav .brand-logo {
  padding-left: 2rem;
}

h4 {
  padding-bottom: 2rem;
}

#search {
  width: 25%;
}

input#field.form-control::placeholder {
  color: rgb(0, 0, 0, 0.60);
}
